body {
  background-color: rgb(245, 245, 242);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.navbar .logo {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-style: italic;
  font-size: 40px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 17px;
}

nav a:hover {
  color: red;
}

.header {
  font-size: 25px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

/*The paragraph inside #profile is black because the selector #profile p has higher specificity (ID + element) than the general p selector. 
  The order of the rules does not matter here; specificity determines which rule ‘wins.*/

#profile p {
  color: black;
  font-size: 17px;
  line-height: 24px;
}

#profile img {
  width: 150px;
  border: solid gray;
  border-radius: 50%;
}

#skills-coursework-table {
  width: 60%;
  border-collapse: collapse;
}

#skills-coursework-table th,
#skills-coursework-table td {
  word-wrap: break-word;
  border: 1px solid gray;
  padding: 12px;
}

#projects {
  display: grid;
  gap: 30px;
}


.project-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 20px;
  align-items: start;
}
.project-title{
  font-size: 18px;
  padding-top: 20px;
  text-align: center;
}

.project-description{
  font-size: 17px;
  line-height: 1.4;

  
}

#projects img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  
}

footer {
  border-top: 1px solid black;
  font-size: 17px;
  text-align: center;
  padding: 20px;
}

footer a:hover {
  color: blueviolet;
}

.parent {
  color: red;
}



@media (max-width: 768px){
  .navbar {
    flex-direction: column;  
    align-items: flex-start; 
    
    }

  .navbar a {
    padding: 10px 0; 
    font-size: 16px; 
    }

    nav ul{
      flex-direction: column;
      width: 100%;
    }

    .header{
      font-size: 20px;
    }


  #profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  #skill-coursework {
    width: 100%;        
    padding: 0;    
    box-sizing: border-box;  
    
  }

  #skills-coursework-table {
    width: 100%;
    table-layout: fixed; 
    margin: 0;
  }

  #skills-coursework-table th,
  #skills-coursework-table td {
    padding: 10px;
    text-align: center;
  }

  .project-header {
    display: none; 
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .project-title{
    font-weight: bold; 
  }

}