body{
    background-color: rgb(245, 245, 242);
}


h1{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom:20px ;
    border-bottom: 2px solid black;
    font-style: italic;
    font-size: 50px;
}




nav {
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 17px;
  }


  .header{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  

  #profile {
    display: flex;  
    align-items: center;
    gap: 20px;
  }


  #profile p {
    color: black;
}


  #profile img {
    width: 150px;
    border: solid gray;
    border-radius: 50%; 
  }


#skills-coursework-table{
    width:50%;
    border-collapse: collapse;
}


#skills-coursework-table th,
#skills-coursework-table td {
    border: 1px solid gray;
    padding: 12px;
}


#projects h3{
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
}


#projects ul{
    font-size: 17px;
}


#projects li{
    padding-top: 5px;
}


