body{
    background-color: rgb(245, 245, 242);
}


h1{
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom:20px ;
    border-bottom: 2px solid black;
    font-style: italic;
    font-size: 50px;
}


nav {
    background-color: white;
    border: 2px solid gray;
    border-radius: 20px;
    font-size: 17px;
  }

  nav a:hover{
    color: blueviolet;
  }


  .header{
    font-size: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  

  #profile {
    display: flex;  
    align-items: center;
    gap: 20px;
  }

  /*The paragraph inside #profile is black because the selector #profile p has higher specificity (ID + element) than the general p selector. 
  The order of the rules does not matter here; specificity determines which rule ‘wins.*/

  p {
    font-size: 17px;
    color: violet;
  }


  #profile p {
    color: black;
}


  #profile img {
    width: 150px;
    border: solid gray;
    border-radius: 50%; 
  }


#skills-coursework-table{
    width:50%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 50px;
}


#skills-coursework-table th,
#skills-coursework-table td {
    border: 1px solid gray;
    padding: 12px;
}


#projects h3{
    font-style: italic;
    font-size: 20px;
    padding-top: 10px;
}


#projects ul{
    font-size: 17px;
    margin-bottom: 30px;
}


#projects li{
    padding-top: 5px;
}


footer{
  border-top: 1px solid black;
  font-size: 17px;
  text-align: center; 
  padding: 20px; 
}

footer a:hover{
  color:blueviolet;
}